.allUsers{
    background-color: rgb(44, 44, 44);
    width: 50%;
    min-height: 100%;
    padding: 10px 20px;
}
.usersSelect{
    width:100%;
    display:flex;
    justify-content: center;
}
.usersSelect select{
    box-sizing: border-box;
    border: none;
    
    background: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    padding: 5px;
}
.bordered{
    border: 1px solid rgb(0, 0, 0);
}
.findUser{
    margin-top:20px;
    width:100%;
}
.findUser input{
    width: 100%;
    padding: 3px 20px;
    border:none;
    border-radius: 5px;
    background: rgb(15, 15, 15);

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 200;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}